.MuiTypography-root,
.MuiButton-root,
.MuiTableCell-root {
  font-size: 1.6rem !important;
}

.MuiSvgIcon-root {
  font-size: 2rem !important;
}

.MuiFormLabel-root {
  font-size: 1.2rem !important;
}

.MuiListItem-root {
  color: #6f2dbd;
}

.MuiTableRow-root:hover {
  background-color: #6f2dbd !important;
}

.MuiTableCell-footer {
  background-color: #fff;
}