.MuiTypography-root,
.MuiButton-root,
.MuiTableCell-root,
.MuiInputBase-root,
.MuiFormLabel-root,
.MuiInputBase-input {
  font-size: 1.6rem !important;
}

.MuiSvgIcon-root {
  font-size: 2rem !important;
}

.MuiButton-label {
  font-size: 1.2rem !important;
}

.MuiListItem-root {
  color: #6f2dbd;
}

.MuiTableRow-root:hover {
  background-color: #6f2dbd !important;
}

.MuiTableCell-footer {
  background-color: #fff;
}

.MuiToolbar-gutters {
  padding-left: 18px !important;
}

.popup-input {
  margin: 10px;
  display: flex;
  align-items: center;
}

.popup-button {
  border: none;
  font-size: 1.4rem;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 5px;
  border-radius: 5px;
  margin-left: 10px;
}